### Eucalyptus Growth Curves

In [1]:
!ls *.csv

ariafire_training_statistics_v8.csv fuels.csv
euc_growth_curves.csv

In [2]:
import pandas as pd
import seaborn as sns
sns.set(style="darkgrid")

In [3]:
euc_br = pd.read_csv('euc_growth_curves.csv')

In [4]:
euc_br.drop('Unnamed: 6', inplace=True, axis=1)

In [25]:
euc_br.head()

,Estado,Espécie/Híbrido,Idade (anos),Volume comercial (m³/ha),IMA (m³/ha/ano),ICA (m³/ha/ano),plot
0,Paraná,E. saligna,1,2,2,2,Paraná E. saligna
1,Paraná,E. saligna,2,41,21,39,Paraná E. saligna
2,Paraná,E. saligna,3,115,38,74,Paraná E. saligna
3,Paraná,E. saligna,4,192,48,77,Paraná E. saligna
4,Paraná,E. saligna,5,261,52,69,Paraná E. saligna

In [15]:
euc_br['Espécie/Híbrido'].unique()

array(['E. saligna', 'E. grandis x E.urophylla', 'E. dunnii',
       'E. benthamii'], dtype=object)

In [22]:
euc_br['Estado'].unique()

array(['Paran\xc3\xa1', 'S\xc3\xa3o Paulo', 'Santa Catarina'],
      dtype=object)

In [6]:
import plotly

In [26]:
import plotly.plotly as py
import plotly.graph_objs as go

euc_br['plot'] = euc_br['Espécie/Híbrido'] + ' in ' + euc_br['Estado'] 
plot_names = euc_br['plot'].unique()
traces = []
for plot_name in plot_names:
    sp_df = euc_br[euc_br['plot'] == plot_name]

    # Create a trace
    trace = go.Scatter(
        x = sp_df['Idade (anos)'],
        y = sp_df['Volume comercial (m³/ha)'],
        showlegend=True,
        name=plot_name,
    )
    traces.append(trace)
    
data = traces

py.iplot(data, filename='euc_br_growth')